<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <% if !current_client && !current_inspector %>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner mt-2">
        <div class="carousel-item active">
          <img src="https://advantagesocal.com/wp-content/uploads/2018/09/header-1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-2 pt-2 pb-2 text-center bg-dark"><h1 class="font-weight-bold text-white">Clients</h1></div>
      <div class="col mt-2 pt-2 pb-2 text-center bg-dark"><h1 class="font-weight-bold text-white">Inspectors</h1></div>
    </div>
    <div class="row">
      <div class="col border mt-1 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Sign Up as Client", new_client_registration_path %></h3></div>
      <div class="col border mt-1 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Sign Up as Inspector", new_inspector_registration_path %></h3></div>
      <div class="w-100"></div></h3>
      <div class="col border mt-1 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Log In as Client", new_client_session_path %></h3></div>
      <div class="col border mt-1 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Log In as Inspector", new_inspector_session_path %></h3></div>
    </div>
  <% end %>
</div>

<% if current_client %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome <%= full_name(current_client) %>!</h1>
        <p class="lead">Schedule an inspection, check up on your current inspections, or check out available inspectors using the menu above!</p>
    </div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner mt-n4">
      <div class="carousel-item active">
        <img src="https://advantagesocal.com/wp-content/uploads/2018/09/header-1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <%= current_client.email %><br>
  <%= full_name(current_client) %><br>
<% end %>

<% if current_inspector %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome <%= full_name(current_inspector) %>!</h1>
      <p class="lead"></p>
    </div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner mt-n4">
      <div class="carousel-item active">
        <img src="https://advantagesocal.com/wp-content/uploads/2018/09/header-1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <%= current_inspector.email %><br>
  <%= full_name(current_inspector) %><br>
  <%= link_to "Inspector Profile", inspector_path(current_inspector) %><br>
  <%= link_to "Inspector Log Out", destroy_inspector_session_path, method: "delete" %>
<% end %>

