<h1>Homepage</h1><br>

<% if !current_client && !current_inspector %>
  <%= link_to "Sign Up as Client", new_client_registration_path %><br>
  <%= link_to "Sign Up as Inspector", new_inspector_registration_path %><br>
  <%= link_to "Log In as Client", new_client_session_path %><br>
  <%= link_to "Log In as Inspector", new_inspector_session_path %><br>
<% end %>

<% if current_client %>
  <%= current_client.email %><br>
  <%= full_name(current_client) %><br>
  <%= link_to "Client Profile", client_path(current_client) %><br>
  <%= link_to "Client Log Out", destroy_client_session_path, method: "delete" %>
<% end %>

<% if current_inspector %>
  <%= current_inspector.email %><br>
  <%= full_name(current_inspector) %><br>
  <%= link_to "Inspector Profile", inspector_path(current_inspector) %><br>
  <%= link_to "Inspector Log Out", destroy_inspector_session_path, method: "delete" %>
<% end %>

