<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <% if !current_client && !current_inspector %>
    <div class="row">
      <div class="col mt-5 pt-5 pb-5 text-center bg-dark"><h1 class="font-weight-bold text-white">Clients</h1></div>
      <div class="col mt-5 pt-5 pb-5 text-center bg-dark"><h1 class="font-weight-bold text-white">Inspectors</h1></div>
    </div>
    <div class="row">
      <div class="col border mt-5 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Sign Up as Client", new_client_registration_path %></h3></div>
      <div class="col border mt-5 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Sign Up as Inspector", new_inspector_registration_path %></h3></div>
      <div class="w-100"></div></h3>
      <div class="col border mt-5 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Log In as Client", new_client_session_path %></h3></div>
      <div class="col border mt-5 pt-5 pb-5 text-center bg-light"><h3 class="text-white"><%= link_to "Log In as Inspector", new_inspector_session_path %></h3></div>
    </div>
  <% end %>
</div>

<% if current_client %>
  <%= current_client.email %><br>
  <%= full_name(current_client) %><br>
  <%= link_to "Client Profile", client_path(current_client) %><br>
  <%= link_to "Client Log Out", destroy_client_session_path, method: "delete" %>
<% end %>

<% if current_inspector %>
  <%= current_inspector.email %><br>
  <%= full_name(current_inspector) %><br>
  <%= link_to "Inspector Profile", inspector_path(current_inspector) %><br>
  <%= link_to "Inspector Log Out", destroy_inspector_session_path, method: "delete" %>
<% end %>

