<h1>Schedule an Inspection</h1>
<%= render 'inspections/errors' %>

<%= form_for :inspection do |f| %>
    <%= f.label :address %><br>
    <%= f.text_field :address %><br>
    <br>
    <%= f.label :inspection_date %><br>
    <%= f.date_field :inspection_date, min: Date.tomorrow %>
    <br>
    <%= f.label :inspector %><br>
    <%= f.collection_select :inspector_id, Inspector.all, :id, :last_name, {prompt: "Select Inspector"} %>
    <br>
    <%= f.submit "Schedule Inspection" %>
<% end %>
