<h3><%= @inspection.address %></h3><br>
<h5>Date: <%= @inspection.inspection_date.strftime("%B %d, %Y") %></h5><br>
<h5>Inspector: <%= full_name(Inspector.find_by(id: @inspection.inspector_id)) %></h5><br>
<h5>Client: <%= full_name(Client.find_by(id: @inspection.client_id)) %></h5><br>
<h5>Status: <%= @inspection.inspection_status %></h5><br>
<h6>Structural System: <%= @inspection.structural_systems %></h6><br>
<h6>Exterior: <%= @inspection.exterior %></h6><br>
<h6>Roof Systems: <%= @inspection.roof_systems %></h6><br>
<h6>Plumbing System: <%= @inspection.plumbing_system %></h6><br>
<h6>Electrical System: <%= @inspection.electrical_system %></h6><br>
<h6>Heating System: <%= @inspection.heating_system %></h6><br>
<h6>Air Conditioning System: <%= @inspection.ac_system %></h6><br>
<h6>Interior: <%= @inspection.interior %></h6><br>
<h6>Insulation and Ventilation: <%= @inspection.insulation_ventilation %></h6><br>
<h6>Fireplaces: <%= @inspection.fireplaces %></h6><br>
<h6>Attics: <%= @inspection.attics %></h6><br>
