<div class="container">
<h3><%= @inspection.address %></h3><br>
<ul class="list-group">
  <li class="list-group-item">Date: <%= @inspection.inspection_date.strftime("%B %d, %Y") %></li>
  <li class="list-group-item">Inspector: <%= full_name(Inspector.find_by(id: @inspection.inspector_id)) %></li>
  <li class="list-group-item">Client: <%= full_name(Client.find_by(id: @inspection.client_id)) %></li>
  <li class="list-group-item">Status: <%= @inspection.inspection_status %></li>
  <li class="list-group-item">Structural System: <%= @inspection.yes_or_no(@inspection.structural_systems) %></li>
  <li class="list-group-item">Exterior: <%= @inspection.yes_or_no(@inspection.exterior) %></li>
  <li class="list-group-item">Roof Systems: <%= @inspection.yes_or_no(@inspection.roof_systems) %></li>
  <li class="list-group-item">Plumbing System: <%= @inspection.yes_or_no(@inspection.plumbing_system) %></li>
  <li class="list-group-item">Electrical System: <%= @inspection.yes_or_no(@inspection.electrical_system) %></li>
  <li class="list-group-item">Heating System: <%= @inspection.yes_or_no(@inspection.heating_system) %></li>
  <li class="list-group-item">Air Conditioning System: <%= @inspection.yes_or_no(@inspection.ac_system) %></li>
  <li class="list-group-item">Interior: <%= @inspection.yes_or_no(@inspection.interior) %></li>
  <li class="list-group-item">Insulation and Ventilation: <%= @inspection.yes_or_no(@inspection.insulation_ventilation) %></li>
  <li class="list-group-item">Fireplaces: <%= @inspection.yes_or_no(@inspection.fireplaces) %></li>
  <li class="list-group-item">Attics: <%= @inspection.yes_or_no(@inspection.attics) %></li>
</ul>
<% if current_inspector %>
  <%= link_to "Edit", edit_inspection_path(@inspection) %>
<% end %>
</div>