<!DOCTYPE html>
<html>
  <head>
    <title>HomeInspex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="<%= root_url %>"><%= image_tag 'logo.png', alt: 'logo' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if client_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= client_path(current_client) %>">Profile</a>
            </li>
          <% end %>

          <% if inspector_signed_in? %>
            <li class="nav-item">
                <a class="nav-link" href="<%= inspector_path(current_inspector) %>">Profile</a>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropleft">
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if logged_out? %>
                    <a class="dropdown-item" href="<%= new_client_session_path %>">Client Log In</a>
                    <a class="dropdown-item" href="<%= new_client_registration_path %>">Client Sign Up</a>
                    <a class="dropdown-item" href="<%= new_inspector_session_path %>">Inspector Log In</a>
                    <a class="dropdown-item" href="<%= new_inspector_registration_path %>">Inspector Sign Up</a>
                <% end %>
                <% if client_signed_in? %>
                    <a class="dropdown-item" href="<%= new_client_inspection_path(current_client) %>">Schedule Inspection</a>
                    <a class="dropdown-item" href="<%= client_inspections_path %>">Inspections</a>
                    <a class="dropdown-item" href="<%= inspectors_path %>">Inspectors</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-method= "delete" href="<%= destroy_client_session_path %>">Log Out</a>
                <% end %>
                <% if inspector_signed_in? %>
                    <a class="dropdown-item" href="<%= inspector_inspections_path(current_inspector) %>">Inspections</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-method= "delete" href="<%= destroy_inspector_session_path %>">Log Out</a>
                <% end %>
              </div>
            </div
          </li>
        </ul>
      </div>
    </nav>
  </head>

